{% if user_loggedin %}	
	{% extends 'pet_owner/login_layout.html' %}
{% else %}
	{% extends "pet_owner/logout_layout.html" %}
{% endif %}

{% block content %}

	<!-- signin/up -->
		<div class="row" style="margin-top: 3%;">
				<div class="col-md-1"> </div>
					<div class="col-md-7"> 

						<h1> The Genesis </h1>
				 				<p> It was 2013 when founder Esese Joshua, realized his need for a quality doggy day care and boarding center for his two furry friends. It didn’t take much research for Joshua to realize that the traditional ‘kennel model’ was not what he had in mind for his pets. Being entrepreneurs at heart, Joshua set out to conceptualize the idea of a fun, friendly environment for his two dogs. </p>

					</div>
						<div class="col-md-3"> adopt a pet pic </div>
					
					 		<div class="col-md-1"> </div>

		<!-- Our story -->
			<div class="row"> 
				<div class="col-md-1"> </div>
				 		<div class="col-md-7"> 

				 			<h1> Humble Begining </h1>
				 				<p> The idea for a new kind of dog boarding experience was initially hatched in 2015 when our founder, Esese Joshua, found it difficult to get quality care for his two dogs. He was amazed at how owners were forced to leave their animals in uncomfortable conditions for long periods of time with few alternatives. Fast forward 3 years, Joshua opens the very first location in 2018 in Abuja, Nigeria. Within 3 years, the demand for hotel-quality dog day care is so strong that more locations begin to open across Nigeria. Just a few months after that, locations are popping up everywhere across Nigeria

				 			<h1> The Journey </h1>
				 				<p> The idea for a new kind of dog boarding experience was initially hatched in 2015 when our founder, Esese Joshua, found it difficult to get quality care for his two dogs. He was amazed at how owners were forced to leave their animals in uncomfortable conditions for long periods of time with few alternatives. Fast forward 3 years, Joshua opens the very first location in 2018 in Abuja, Nigeria. Within 3 years, the demand for hotel-quality dog day care is so strong that more locations begin to open across Nigeria. Just a few months after that, locations are popping up everywhere across Nigeria </p>

				 				<p> The idea for a new kind of dog boarding experience was initially hatched in 2015 when our founder, Esese Joshua, found it difficult to get quality care for his two dogs. He was amazed at how owners were forced to leave their animals in uncomfortable conditions for long periods of time with few alternatives. Fast forward 3 years, Joshua opens the very first location in 2018 in Abuja, Nigeria. Within 3 years, the demand for hotel-quality dog day care is so strong that more locations begin to open across Nigeria. Just a few months after that, locations are popping up everywhere across Nigeria </p>
				 				
				 			<h1> Vission </h1>
				 				<p> The idea for a new kind of dog boarding experience was initially hatched in 2015 when our founder, Esese Joshua, found it difficult to get quality care for his two dogs. He was amazed at how owners were forced to leave their animals in uncomfortable conditions for long periods of time with few alternatives. Fast forward 3 years, Joshua opens the very first location in 2018 in Abuja, Nigeria. Within 3 years, the demand for hotel-quality dog day care is so strong that more locations begin to open across Nigeria. Just a few months after that, locations are popping up everywhere across Nigeria </p>

				 			<h1> Mission </h1>
				 				<p> The idea for a new kind of dog boarding experience was initially hatched in 2015 when our founder, Esese Joshua, found it difficult to get quality care for his two dogs. He was amazed at how owners were forced to leave their animals in uncomfortable conditions for long periods of time with few alternatives. Fast forward 3 years, Joshua opens the very first location in 2018 in Abuja, Nigeria. Within 3 years, the demand for hotel-quality dog day care is so strong that more locations begin to open across Nigeria. Just a few months after that, locations are popping up everywhere across Nigeria 

				 				<a href="/about"> <span style="color: rosybrown;"> Previous page </span> </a> </p>

				 			</div>

				 				<div class="col-md-3"> 
									<img src="static/images/14.jpg" style="height:300px" width="100%">
							    </div>


				 			<div class="col-md-1"> </div>

			</div>

		<!-- static pic function -->
			<div class="row">
				<div class="col background-pic-2">
					</div>
			 </div>

		</div>

{% endblock %}

