{% extends "pet_owner/login_layout.html" %}

{% block content %}

    <div class="container">
    <div class="card mb-4" style="margin-top: 3%">
       
        <div class="card-body">
           <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"> S/N </th>
                <th scope="col"> Name </th>
                <th scope="col"> Current Weight </th>
                <th scope="col"> Vaccination Status </th>
                <th scope="col"> Medication </th>
                <th scope="col"> Vet Comment </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Green</td>
                <td>Green</td>
                <td>She needs to be in top form</td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Green</td>
                <td>Green</td>
                <td>She needs to be in top form</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>Yellow</td>
                <td> Yellow</td>
                <td>She needs to be in top form</td>
            </tr>

        </tbody>

        </table>
                        
        </div>
        </div>
    </div>


	
  {%endblock%}



