{% extends ('pet_owner/login_layout.html') %}

{% block content %}

	{% block breadcrumbs %}
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="/dashboard/"> Dashboard </a></li>
			<li class="breadcrumb-item active"> Payment Details </li>
		</ol>
		{% endblock breadcrumbs %}

	{% block detailscontent %}

		{% set message = get_flashed_messages() %}
		{% for t in message %}
		<p class="alert alert-info"> {{ t }} </p>
		{% endfor %}

	
	<div class="row" style="margin-top: 2%">

			<div class="col-md-1"> </div>
				
				<div class="col-md-2 d-grid gap-2">

					<button type="button" class="btn btn-outline-dark"> <a href="/mypets"> MY PETS </a> </button>
					
					<button type="button" class="btn btn-outline-dark"> <a href="/medics"> MEDICAL RECORDS </a> </button>

					<button type="button" class="btn btn-outline-dark"> <a href="/bills_history"> BILLS HISTORY </a> </button>                

				</div>
		
		<div class="col-md-2 footer"> 
					
            <div> 

                <p> Amount:  </p> 
                <p> Status:  </p> 
                <p> Transaction Ref: </p> 
                <p> Card Number:  </p> 
                
            </div>
		</div>              

		<div class="col-md-2 footer"> 
					
			<div> 
			<p> {{ json_response.data.amount/100 }}
				{{ json_response.data.currency }} </p> 

			<p> {{ json_response.data.status }} </p> 

			<p> {{ json_response.data.reference }} </p> 

			<p> {{ json_response.data.authorization.bin }} 
				XXXXXX
				{{ json_response.data.authorization.last4}}
			</p> 
			
			</div>
		</div>  
               
	</div>

		<!-- static pic function -->
			<div class="row">
				<div class="col background-pic">
					</div>
			 </div>


		<!-- tetiarry navigators -->
			<div class="row"> 
					<div class="col tettiary-nav">
						<ul style="display: flex;"> 
							  <li> <a href ="https://www.madpaws.com.au/" target="blank"> Get a pet sitter today.. </a> </li>

								<li> <a href ="vet.html">  Contact A Vet Today </a> </li>
								
									<li> <a href ="reports.html"> Reports & Analytics </a> </li>
						</ul>
					</div>3

			</div>

			{% endblock detailscontent %}


 <script src="jquery.js"></script>

</body>
</html>

{% endblock %}

