{% extends ('pet_owner/login_layout.html') %}

{% block content %}

	{% block breadcrumbs %}
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="/dashboard/"> Dashboard </a></li>
		<li class="breadcrumb-item active"> Pet Details </li>
	</ol>
	{% endblock breadcrumbs %}

	{% block detailscontent %}

		{% set message = get_flashed_messages() %}
		{% for t in message %}
		<p class="alert alert-success"> {{ t }} </p>
		{% endfor %}


		<div class="row" style="margin-top: 2%">

			<div class="col-md-1"> </div>

			{% block detailscontents %}
				
				<div class="col-md-2 d-grid gap-2">
					<button type="button" class="btn btn-outline-dark"> <a href="/mypets"> MY PETS </a> </button>

					{% for pet in pets %}

					<button type="button" class="btn btn-outline-dark"> <a href="/edit_pet/{{pet. pet_id }}"> EDIT PET PROFILE </a> </button>

					{% endfor %}
					
					<button type="button" class="btn btn-outline-dark"> <a href="/medics"> MEDICAL RECORDS </a> </button>

					<button type="button" class="btn btn-outline-dark"> <a href="/pet_appointments"> APPOINTMENTS </a> </button>
				</div>

				{% endblock detailscontents %}
						
				<div class="col-md-2 footer"> 
					
					{% for pet in pets %}
						<div> 
							<p> Pet Name: </p> 
						
							<p> Pet Category: </p>
						
							<p> Pet Breed: </p>
					
							<p> Gender: </p>
						
							<p>Pet Status: </p>
						
							<p> Weight at Registration: </p>

						</div>

				</div>
						<div class="col-md-2 footer"> 

							<p> {{ pet.pet_name }} </p> 
						
							<p> {{ pet.catrelate.cat_name }} </p>
						
							<p> {{ pet.pet_breed }} </p>
					
							<p> {{ pet.pet_gender }} </p>
						
							<p> {{ pet.pet_status }} </p>
						
							<p> {{ pet.pet_weight_at_reg }} </p>

						</div>
		
                <div class="col-md-4 footer"> 
                    
                    <img src="{{url_for('static',filename='/collections/'+pet.pet_pic) }}" style="height: 345px; width:600px">
                           
                </div>
				{% endfor %}


        <div class="row" style="margin-top: 4%; background-color: #FAF9F6;">

                <div class="col-md-4"> 
					{% for pet in pets %}
					<h3> About Your Pet: </h3> 
					<p> {{ pet.pet_descript}} </p> 
                </div>

			   <br><br>


            <div class="col-md-4"> 
				<h3> Likes: </h3>
				<p> {{ pet.pet_likes }}</p>
            </div>

            <div class="col-md-4"> 
				<h3>  Dislikes: </h3> 
				<p> {{ pet.pet_dislikes }} </p>
             </div>

		</div>

				{% endfor %}
		</div>

		<!-- static pic function -->
			<div class="row">
				<div class="col background-pic">
					</div>
			 </div>


		<!-- tetiarry navigators -->
			<div class="row"> 
					<div class="col tettiary-nav">
						<ul style="display: flex;"> 
							  <li> <a href ="https://www.madpaws.com.au/" target="blank"> Get a pet sitter today.. </a> </li>

								<li> <a href ="vet.html">  Contact A Vet Today </a> </li>
								
									<li> <a href ="reports.html"> Reports & Analytics </a> </li>
						</ul>
					</div>

			</div>

			{% endblock detailscontent %}


 <script src="jquery.js"></script>

</body>
</html>

{% endblock %}

