{% if user_loggedin %}	
	{% extends 'pet_owner/logout_layout.html' %}
{% else %}
	{% extends "pet_owner/login_layout.html" %}
{% endif %}

{% block content %}


		{% set messages = get_flashed_messages() %}
		{% for w in messages %}
		<p class="alert alert-info"> {{ w }} </p>
		{% endfor %}

	<!-- Edit pet -->
		<div class="row" style="margin-top: 3%;">
			<div class="col-md"> 

			<div>
            <form class="row g-3 justifier" enctype="multipart/form-data" method="post" action="/edit_pet/{{ petdetails.pet_id }} ">
              
                <div class="mb-3">
					{{ pet_form.pet_name.label }}
					{{ pet_form.csrf_token }}
					{{ pet_form.pet_name(class_="form-control", value = petdetails.pet_name) }}
				</div> 

				<div class="mb-3">
					{{ pet_form.breed.label }}
					{{ pet_form.csrf_token }}
					{{ pet_form.breed(class_="form-control") }}
				</div>

				<div>
				<label for="status" class="form-label"> Select Pet Status </label>
				<select>
                <option value="active"> Active </option>
				<option value="inactive"> Inactive </option>
				</select>
				</div>

				<div class="mb-3">
					{{ pet_form.descript.label }}
					{{ pet_form.csrf_token }}
					{{ pet_form.descript (class_="form-control")}}
				</div>
				
                <div class="mb-3">
					{{ pet_form.likes.label }}
					{{ pet_form.csrf_token }}
					{{ pet_form.likes (class_="form-control")}}
				</div>
               
                <div class="mb-3">
					{{ pet_form.dislikes.label }}
					{{ pet_form.csrf_token }}
					{{ pet_form.dislikes (class_="form-control")}}
				</div>

				<div class="mb-3">
					{{ pet_form.pic.label }}
					{{ pet_form.pic(class_="form-control") }}
				</div>
				
		        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">     

				<div class="mb-3">
					{{ pet_form.btn(class_="btn btn-primary") }}
				</div>
              
            </form>
            </div>

			</div>
			
		</div>

		<!-- static pic function -->
			<div>
				
			 </div>


		<!-- tetiarry navigators -->
			<div class="row"> 
					<div class="col tettiary-nav">
						<ul style="display: flex;"> 
							  <li> <a href ="https://www.madpaws.com.au/" target="blank"> Get a pet sitter today.. </a> </li>

								<li> <a href ="vet.html">  Contact A Vet Today </a> </li>
								
									<li> <a href ="reports.html"> Reports & Analytics </a> </li>
						</ul>
					</div>

			</div>


	
	<script src="jquery.js"> </script>

	</body>
	</html>
		
	{%endblock%}
		