{% extends ('pet_owner/login_layout.html') %}

{% block content %}

	{% block detailscontent %}

		{% set message = get_flashed_messages() %}
		{% for t in message %}
		<p class="alert alert-info"> {{ t }} </p>
		{% endfor %}
	
		<div class="row" style="margin-top: 3%">
			<div class="col-md-1"> </div>
				
				<div class="col-md-2 d-grid gap-2">

                    <button type="button" class="btn btn-outline-dark"> <a href="/edit_profile"> EDIT PROFILE </a> </button>

					<button type="button" class="btn btn-outline-dark"> <a href="/mypets"> MY PETS </a> </button>
					
					<button type="button" class="btn btn-outline-dark"> <a href="/bills_history"> MY BILLS </a> </button>

                    <button type="button" class="btn btn-outline-dark"> <a href="/pet_appointments"> APPOINTMENTS </a> </button>

				</div>
		
				<div class="col-md-4 footer">
                     
					<h3> User Profile </h3>

					{% for user in users %}

					<div> 
						<p> Full Name: {{ user.user_fullname }} </p> 
						
						<p> Email: {{ user.user_email }} </p>

						<p> Address: {{ user.user_address }} </p>
																
						<p> Bio: {{ user.user_bio }} </p>

					</div>

					{% endfor %}

				</div>

		</div>

		
		<!-- tetiarry navigators -->
			<div class="row" style="margin-top: 3%"> 
					<div class="col tettiary-nav"style="margin-left: 30%">
						<ul style="display: flex;"> 
							  <li> <a href ="https://www.madpaws.com.au/" target="blank"> Get a pet sitter today.. </a> </li>

								<li> <a href ="book_appointment.html">  Contact A Vet Today </a> </li>
								
									<li> <a href ="reports.html"> Reports & Analytics </a> </li>
						</ul>
					</div>

			</div>

			{% endblock detailscontent %}


 <script src="jquery.js"></script>

</body>
</html>

{% endblock %}

